# Documentation for the test-cases

| Test | Type of test | Status | Description | Comment |
|------|------------|--------------------------------------|
| **TC1** | Unit test (jest) | √ | This is a simple unit test that checks if the customelement my-board has a canvas element. | This test was the first one I made to make sure that my jest and babel config was working while also getting a useful test out of it that makes sure that the customelement contains the correct elements and parts. |
| **TC2** | Unit test (jest) | √ | This is a simple unit test that checks if the customelement my-board has the toolbar. | This si the second test I made and it is similar in how it looks to **TC1** but instead of checking of r acanvas element it chacks for the div with the id 'toolBar'. |

# What has been tested?

# How was it tested?

# Testresult