# Documentation for the test-cases

| Test | Type of test | Status | Description | Comment |
|------|--------------|--------|-------------|---------|
| **TC1** | Unit test (jest) | √ | Checks if the custom element `my-board` has a canvas element. | First test to verify Jest and Babel config works, and to ensure `my-board` contains the correct elements. |
| **TC2** | Unit test (jest) | √ | Checks if the custom element `my-board` has the toolbar. | Similar to **TC1**, but checks for the div with id `toolBar` instead of the canvas. |


# What has been tested?

# How was it tested?

# Testresult